.home {
    display: flex;
    position: relative;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}


.intro {
    max-width: 540px;
    text-align: center;
    z-index: 1;
}

/* .intro .text-container {
    height: 100vh;
    width: 100vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */


.intro .text-container h1 {
    margin: 0;
    font-size: 30px;
    color: rgb(255 219 13 / 77%);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;   
}


.intro .btn {
    position: relative;
    top: 87px;
    right: 93px;
    margin: auto;
}

.intro .home__education {
    left: 4rem;
    position: relative;
    color: #fff;
    bottom: 7px;
}


.home__img {
    margin-bottom: 1.5rem;
}

.home_name {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
    color: #fff;
}


/* .home__socials {
    display: flex;
    column-gap: 1.55rem;
    margin: 1.5rem 0;
} */

.home__social-link {
    color: var(--title-color);
    font-size: 1.5rem;
    transition: .1s;
}
/* 
.home__social-link:hover {
    color: hsl(43, 100%, 68%);
} */

.scroll__down {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    left: 0;
}

.home__scroll-name {
    font-size: var(--small-font-size);
}

.mouse {
    border: 2px solid #454360;
    display: block;
    height: 1.8rem;
    width: 1.35rem;
    margin: auto;
    margin-top: .75rm;
    border-radius: 1rem;
}

@keyframes ani-mouse {
    0% {
        top: 29%;
    }

    15% {
        top: 50%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 29%;
    }
}

.wheel {
    background-color: var(--title-color);
    border-radius: 100%;
    width: .25rem;
    height: 0.25rem;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;

}

.shapes {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.shape {
    position: absolute;
}

.s1 {
    left: 2%;
    top: 10%;
}

.s2 {
    left: 18%;
    top: 30%;
}

.s3 {
    left: 5%;
    bottom: 30%;
}

.s4 {
    left: 2%;
    bottom: 10%;
}

.s5 {
    left: 44%;
    top: 10%;
}

.s6 {
    left: 36%;
    bottom: 10%;
}

.s7 {
    top: 20%;
    right: 25%;
}

.s8 {
    right: 24%;
    bottom: 20%;
}

.s9 {
    right: 2%;
    top: 10%;
}

.s10 {
    top: 45%;
    right: 11%;
}

.s11 {
    bottom: 10%;
    right: 2%;
}

@media screen and (max-width: 1024px) {
    .home__social-link {
        font-size: 1.5rem;
    }

    .intro .btn {
        top: 93px;

    }

    .mouse {
        display: block;
    }

}

@media screen and (max-width: 320px) {
    .intro .home__education {
        display: contents;
    }

    .scroll__down .mouse {
        display: block;
    }
}

@media screen and (max-width: 314px) {
     .intro .btn {
        margin-left: 5px;
     }
}

.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}