.aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 0;
    /* background-color: var(--body-color); */
    background-color: #262626;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2.4rem;
    width: 110px;
    min-height: 100vh;
    z-index: 10;
}

.nav__logo h3 {
  font-size: 23px;

}
.nav__logo::before {
    background: #ffee10;
    transition: all;
    transform: scale(.9);
    z-index: -1;
}
.nav__logo h3:hover::before {
    transform: scale(.5);
    box-shadow: 2px 3px 15px #ffee10;
  }

 .nav__logo h3:hover {
    color: #ffee10;
    text-shadow:  2px 2px 8px #ffee10;
  } 

.nav__link {
    position: relative;
    display: block;
    width: 39px;
    height: 37px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 20px;
    color: #666;
    transition: .2s;
    line-height: 44px;
    right: 12px;
    margin: 21px 5px;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.nav__link:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }

  .nav__link:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  } 
  .nav__link .sidelogo {
    color: rgba(255, 255, 255, 0.678);
  }


.copyright {
    color: hsl(254, 15%, 65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.nav__toggle {
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #e8dfec;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .3s;
}

@media screen and (max-width: 1024px) {
    .aside {
        left: -110px;
        background-color: #262626c4;
    }

  }

  .nav__toggle {
    display: flex;
  }

  .nav__toggle-open {
    left: 140px;
  }

  .show-menu {
    left: 0;
  }
